<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WoWUtils Automation Suite" parallel="false">
    <test name="Planning Hub Tests">
        <classes>
            <class name="com.ryanh.tests.PlanningHubTests"/>
        </classes>
    </test>
</suite>